@media screen and (max-width: 1023px){

  /************** Header *************/
                /******/
  header{
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(14, 14, 14);
  }
  .logo{
    font-size: 18px;
  }
  nav ul{
    display: flex;
    justify-content: space-between;
    margin: 8px;
  }
  header nav a{
    font-size: 16px;
    margin: 0px 0.8rem;
  }
  #myBtn{
    margin-bottom: 10px;
  }
/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

  /************** Section Hero 1 *************/
                /**************/
  section{
    padding: 80px 20px;
  }
  .main h2{
    font-size: 1.1em; 
  }
  .main h2 span{
    font-size: 1.7em;
  }
  .main h3{
    font-size: 1em;
    font-weight: 500;
  }
  .main-btn{
    font-size: 1em;
  }

  /*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

/************** Section Profile 2 *************/
               /**************/
    .profile h2{
    font-size: 1.3em;
    }
    .fa-solid{
    font-size: 1em;
    }
    .about-profile{
    display: grid;
    display: flex;
    grid-template-columns: 200px;
    flex-direction: column-reverse;
    }
    .text-profile{
    font-size: 1em;
    text-align: left;
    line-height: 25px;
    }
    #img img{
    width: 190px; /*profile img*/
    border-radius: 40px;
    }
    #img{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    }
    /***** Child section Skills *****/
    .title-skills h3{
        font-size: 18px;
        line-height: 35px;
        padding-bottom: 20px;
    }
    .card{
        text-align: center;
        display: grid;
        grid-template-columns: 300px;
        gap: 0px;
        color: #fafafa;
        width: 250px;
        justify-content: center;
      }
      .card h4{
        font-size: 1.4em;
        text-align: center;
        margin-top: 30px;
        color: #fafafa;
      }
      .fa-code, .fa-gear, .fa-paintbrush{
        width: 60px;
        height: 60px;
        padding: 15px 5px;
        background-color: #eceaea; /*background logo languages/tools..*/
      }
      .icon-skills p{
        font-size: 1.1em;
        text-align: center;
        line-height: 55px;
        color: #fafafa;
      }
      .icon-skills .fa-brands, .fa-server{
        font-size: 1.4em;
      }
      .card img{
        width: 25px; /* LOGO ADOBE */
      }
      .skills-content{
        display: grid;
        justify-content: center;
      }
      .skills-container{
        border-radius: 10px;
        background-color: transparent;
        padding-top: 29px;
      }
      .card .fa-code{
        font-size: 1.3em;
      }
      .card .fa-gear{
        font-size: 1.3em;
      }
      .card .fa-paintbrush{
        font-size: 1.3em;
      }
/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

 /************** Section Projects 3 *************/
               /**************/
      .project h2{
        font-size: 1.3em;
        margin-top: 8px;
      }
      .content{
        display: grid;
        grid-template-columns: 350px;
        justify-content: center;
        gap: 8px;
        }
        .project-img img{
          width: 150px; /* You can control the size of your project image */
        }
        .fa-database{
          font-size: 1.4em;
        }
/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/
 /************** Section Contact 4 *************/
               /**************/
      .background{
        display: grid;
        justify-content: center;
      }
      .contact .fa-phone, .fa-envelope {
        font-size: 1.3em;
    }
    .app-contact{
      padding-top: 35px;
    }
      iframe{
        width: 275px;
        height: 350px;
      }
/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/
      /********* Footer ******/
      .footer{
        padding: 0.5em;
      }
      .footer-title{
        font-size: 0.9em;
        text-align: center;
      }
      .footer .ss-icons a{
        font-size: 0px;
        padding: 0 0 0 0;
      }

    .arrow{ /*button top*/
      font-size: 15px;
  }
}

/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/
      /********* Tablette ******/
@media only screen and (min-width: 480px) and (max-width: 900px) {

    /************** Header *************/
                /******/
  header{
  flex-direction: row;
  }
  header nav a {
    font-size: 1.4em;
  }
  .logo{
    font-size: 1.8em;
  }
  .main h2{
    font-size: 1.8em; 
  }
  .main h2 span{
    font-size: 1.9em;
  }
  .main h3{
    font-size: 1.7em;
    font-weight: 500;
  }
  .main-btn{
    font-size: 1.8em;
  }
  .ss-icons a{
    font-size: 2.3em;
  }
  #myBtn{
    margin-bottom: 15px;
  }
/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/
 /************** Section Profile 2 *************/
               /**************/
  .profile h2, .project h2{
    font-size: 2em;
    margin-top: 8px;
    }
    .text-profile{
    font-size: 1.3em;
    text-align: left;
    line-height: 32px;
    }
    #img img{
    width: 240px; /*profile img*/
    }
    #img{
    display: flex;
    justify-content: center;
    padding-bottom: 38px;
    }
    .cv_button{
      padding: 20px 40px;
      font-size: 20px;
    }
    /***** Child section Skills *****/
    .title-skills h3{
      font-size: 1.5em;
      line-height: 40px;
  }
  .card{
      display: grid;
      grid-template-rows: 170px 170px 170px;
      width: 240px;
    }
    .card h4{
      font-size: 1.7em;
    }
    .fa-code, .fa-gear, .fa-paintbrush{
      width: 80px;
      height: 70px;
    }
    .icon-skills p{
      font-size: 1.5em;
    }
    .fa-database{
      font-size: 1.4em;
    }
    .card img{
      width: 35px; /* LOGO ADOBE */
    }
    .skills-content{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/
 /************** Section Projects 3 *************/
               /**************/
  .content{
    display: grid;
    grid-template-columns: 370px 370px;
    justify-content: center;
    gap: 8px;
    }
    .project-img img{
      width: 275px; /* You can control the size of your project image */
    }
    .project-text{
      font-size: 1.4em;
    }
    .icon-span .fa-brands{
      font-size: 1.8em;
    }
    .icon-span .fa-solid{
      font-size: 1.8em;
    }
    .project-info{
      padding: 1em;
      display: grid;
      grid-template-rows: 75px;
    }
    .link-project span{
      font-size: 1.3em;
    }
/*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/
 /************** Section Contact 4 *************/
               /**************/
  .background{
    display: grid;
    justify-content: center;
  }
  .contact .fa-phone, .fa-envelope {
    font-size: 1.5em;
}
.app-contact{
  padding-top: 35px;
  
}
.app-contact, .contact span{
  font-size: 1.2em;
}
.app-form-control{
  font-size: 1.3em;
}
.app-form-control::placeholder{
  font-size: 1em;
}
.app-form-button{
  font-size: 1.3em;
}
  iframe{
    width: 400px;
    height: 350px;
  }
  .map{
    display: flex;
    justify-content: center;
  }
  /*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/
      /********* Footer ******/
      .footer{
        padding: 1.3em;
      }
      .footer-title{
        font-size: 1.3em;
        text-align: center;
      }
      .footer .ss-icons a{
        font-size: 0px;
        padding: 0 0 0 0;
      }
    .arrow{ /*button top*/
      font-size: 25px;
  }
}