@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/************************** Header ********************************/
header{
     width: 100%;
     position: fixed;
     z-index: 999;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 7px 200px;
     background-color: rgba(0, 0, 0, 0.321);
     box-shadow: none;
}
.logo{
    text-decoration: none;
    color: #fafafa;
    font-weight: 700;
    font-size: 1.8em;
}
.logo span{
  font-family: "Sedan", serif;
  font-style: italic;
  color: #fafafa;
  font-weight: 700;
  font-size: 1.2em;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-flex;
}

header nav a {
  position: relative;
  padding: 0.5rem 0 0.1rem;
  margin: 0 1.5rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  
  outline: none;
  
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.8);
    transition: transform 250ms;
  }
  
  &:hover {
    
    &::after {
      transform: translateX(-50%) scaleX(1);
    }
    
  }
  
}
header nav a:hover{
  color: #00ffaa;
  font-variation-settings: "wght" 582; 
  letter-spacing: 2px;
}
/************************** End Header ********************************/

/************************ Sections *************************************/
section{
  padding: 100px 200px;
}
/************ SECTION 1 [BACKGROUND] ***********/

.back {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgb(18, 14, 14) 5%, rgb(14, 14, 14) 100%);
  color:white;
}

.inner-header {
  height:80vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:20vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}


/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:80px;
    min-height:50px;
  }
}
/************************************/

/*************** SECTION 1 HERO ************/
.main{
  padding-top: 75px;
}
.main h2{
    color: #fafafa;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #fafafa;
    font-size: 2.7em;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgb(14, 14, 14);
}
.main h3{
    color: #fafafa;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main .ss-icons{
  padding-top: 80px;
}
.ss-icons a{
    color: #fafafa;
    font-size: 1.7em;
    padding-right: 13px;
    display: inline-block;
    transition: 0.2s;
}
.ss-icons a:hover{
  color: #238866;
}
.main-btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 14);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #238866;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.main-btn:active {
  scale: 0.92;
}

.main-btn:hover {
  background: #238866;
  background: linear-gradient(270deg, #238866 0%, rgba(31, 215, 232, 0.591) 60%);
  color: rgb(4, 4, 38);
}
  /************************ END HERO ***************************/

/**************  SECTION 2 PROFILE ******************/
.profile{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(14, 14, 14);
}
.about-profile{
  display: grid;
  grid-template-columns: 500px 500px;
  justify-content: center;
  gap: 5%;
  margin-bottom: 70px;
}
.profile h2{
    text-align: center;
    color: #fafafa;
    margin-bottom: 35px;
    letter-spacing: 4px;
    text-shadow: 5px 5px 4px #000;
}
.fa-solid{
font-size: 1.5rem;
}
.text-profile{
  color: #fafafa;
}
#img img{
  width: 200px;
  border-radius: 20px;
  box-shadow: 0 8px 8px -4px #00ffaa;
}
/*** Button cv - Profile ***/
.cv_button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #00ffaa;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.cv_button:hover {
  background: #06b37a;
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.6);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-shadow: 4px 4px 8px rgb(0, 0, 0);
}

.cv_button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.cv_button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #ffffff36;
  box-shadow: 0 0 50px 30px #ffffff3a;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.cv_button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
/************************* END PROFILE ************************/

/********************* SECTION 3 SKILLS ***************/
.title-skills {
  background-color: rgb(14, 14, 14);
  box-shadow: 5px 0 8px -4px #00ffaa;
  border-radius: 15px;
}
.title-skills h3{
  color: #fefefe;
  text-align: center;
  font-weight: 400;
  margin-top: -50px;
  font-size: 19px;
  line-height: 50px;
}
.card{
  text-align: center;
  display: grid;
  grid-template-rows: 180px 180px 180px;
  box-shadow: 0 5px 8px -4px #00ffaa;
  width: 360px;
}
.card h4{
  margin-top: 5px;
  font-family: "Basic", sans-serif;
  font-style: italic;
  color: #fefefe;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.skills-content{
  margin-top: -110px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.skills-container{
  background-color: rgb(14, 14, 14);
}
.fa-code, .fa-gear, .fa-paintbrush{
  background-color: #f5f2f2;
  width: 70px;
  height: 70px;
  padding: 17px 3px;
  border-radius: 50px;
  margin-bottom: 20px;
  color: #0bd390;
}
.icon-skills p{
  font-size: 1.2em;
  text-align: center;
  line-height: 70px;
  color: #fefefe;
}
.icon-skills p .fa-brands {
  font-size: 1.4em;
}
.card img{
  width: 27px;
}
.card .fa-code{
  font-size: 1.8em;
}
.card .fa-gear{
  font-size: 1.8em;
}
.card .fa-paintbrush{
  font-size: 1.8em;
}
/************************ END SKILLS ************************/

/*************** SECTION 4 PROJECT *************/
.content{
display: grid;
grid-template-columns: 350px 350px 350px;
justify-content: center;
}
.project h2{
  text-align: center;
  color: #fafafa;
  margin-bottom: 35px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 5px 5px 4px #000;
}
.project{
  background-color: rgb(14, 14, 14);
}
.project .content{
  margin-top: 30px;
}
.project-card{
  background-color: rgb(14, 14, 14);
  box-shadow: rgba(138, 133, 133, 0.407) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  min-height: 14em;
  width: 20em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transform: 0.5s;
}
.project-card:hover{
  box-shadow: rgba(23, 176, 113, 0.407) 0px 2px 5px -1px, rgba(7, 171, 149, 0.3) 0px 1px 3px -1px;
  background-color: rgba(29, 29, 29, 0.212);
}
.project-img img{
width: 100%;
}
.project-text {
  margin-bottom: 15px;
}
.project-info{
  padding: 1em;
}
.project-text{
  font-size: 0.9em;
  color: #fafafa;
  backface-visibility: hidden;
}
.project-title{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #fafafa;
}
.icon-span .fa-brands, .fa-solid{
  font-size: 1.5rem;
  padding-left: 3px;
}
.link-project{
  text-decoration: none;
  color: #0bd390;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  box-shadow: inset 0 0 0 0 #fafafa;
  border-radius: 5px;
}
.link-project span{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.link-project:hover{
  box-shadow: inset 100px 0 0 0 #fafafa;
  color: rgb(14, 14, 14);
  border-radius: 5px;
}
/************************* END PROJECT *******************/

/**************** SECTION 4 CONTACT *********************/
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}
.contact{
  background-color: rgb(14, 14, 14);
}
.background {
  display: flex;
  margin-top: 10px;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #1a1a1a;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(38, 61, 44, 0.428);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #313132;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 70px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fafafa;
  font-size: 26px;
  text-shadow: 5px 5px 4px #000;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #06b37a;
}

.app-contact {
  margin-top: auto;
  font-size: 12px;
  color: #A6A6A6;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #06b379bf;
  font-size: 14px;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #A6A6A6;

}

.app-form-control:focus {
  border-bottom-color: #06b37a;
}

.app-form-button {
  background: none;
  border: none;
  color: #06b37a;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #fafafad2;
}
.contact h2{
  text-align: center;
  color: #fafafa;
  letter-spacing: 4px;
  text-shadow: 5px 5px 4px #000;
  font-weight: 900;
}
.contact .fa-phone, .fa-envelope{
  font-size: 1.3em;
}
.separator{
  font-size: 1.6em;
  font-weight: 100;
}
@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
iframe {
  border: none;
  overflow: scroll;
  display: flex;
}
.map{
 
}
/********************* END CONTACT ******************/

/*****************  FOOTER ********************/
.footer{
  background-color: #1A1A1A;
  color: #fafafa;
  padding:  0.7em;
  display: flex;
  justify-content: space-evenly;
}
.p-span{
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
}
.footer .ss-icons a{
  font-size: 22px;
  padding: 0 12px 0 0;
  overflow: hidden;
}
.nom{
  color: #00ffaad3;
}

.footer .ss-icons a:hover{
color: #00ffaabb;
overflow: hidden;
}